@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../font/font.css";

.customoverlay {
  position: relative;
  bottom: 60px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  float: left;
}
.customoverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 4px 6px #888;
}

.customoverlay .title {
  display: block;
  text-align: center;
  background: #fff;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 6px;
  font-family: "Noto Sans KR", sans-serif;
}
.customoverlay:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: -12px;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}
